body{
    font-family: var(--font-family);
    background-color: var(--pale-blue);
}
main{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}       

@media (max-width: 26.875rem){
        body{
            background-color: var(--white);
        }

        main{
            align-items: flex-start;
            padding: 0;
        }
}
